= form_with(model: [ @article, @article.comments.build ], class: "form", local: true) do |form|

    = form.text_field :commenter, placeholder: "Your name"

    = form.text_area :body, placeholder: "Your comment"

    = form.submit 'Submit', class: 'form-submit'
