<h1>Participant details</h1>
<p>Your Email: <%= @participant.email %></p>
<p>Your secret receiver: <%= @participant.receiver %></p>
<p>Event name: <%= @participant.event.name %></p>
<p>Event date: <%= @participant.event.date %></p>
