#main-column.main-column
  .articles
    h2
      | Latest articles
    - Article.last(3).each do |article|
      .article-featured
        span.date-featured
          = article.created_at.strftime("%d %b. %Y")
        img[src="https://picsum.photos/300/200"]
        h3
          = link_to article.title, article
        - if article.text.length > 500
          p
            = article.text.first(500)+"..."
        - else
          p
            = article.text
        p
          | Comments: 
          span#comment-count.comment-count
            = article.comments.count
  .events
    - if user_signed_in? && current_user.events.present?
      h2
        | My events
      - current_user.events.last(3).each do |event|
        .event-featured
          = image_tag "contest.png"
          h3
            = link_to event.name, event
          ul
            li
              = event.date
            li
              = event.budget
            li
              = event.location
#sidebar.sidebar
  #welcome-image.welcome-image
    = image_tag "ace_welcome.jpg"
  #welcome-text.welcome-text
    h2
      | Welcome!
    p
      | My name is Julien and my life is all about coding now.
  #search-app.search-app
    h2
      | Search this app
    = form_with scope: :article, url: articles_path, local: true do |form|
      = text_area_tag 'keywords'
      = form.submit
  #popular-articles.popular-articles
    h2
      | Popular articles
    - Article.last(3).each do |article|
      .article-sidebar
        img[src="https://picsum.photos/300/200"]
        h3
          = link_to article.title, article
        - if article.text.length > 100
          p
            = article.text.first(100)+"..."
        - else
          p
            = article.text
