doctype html
html
  head
    title
      | Learning_app
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    link[rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches"]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400"]
    link[rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"]
    link [rel="icon" type="image/png" href="assets/favicon.ico"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
  body
    - if notice.present?
      p.notice
        = notice
    - if alert.present?
      p.alert
        = alert
    #container.container
      #header.header
        #home-title.home-title
          h1
            = link_to 'Welcome to my learning app!', root_path
          span
            | Learning to be the best
        #mobile-nav.mobile-nav
          a[onclick="ShowMenu()"]
            | Menu
        #mobile-links.mobile-links
          = link_to 'Home', root_path
          = link_to 'Blog', articles_path
          = link_to 'Topics', topics_path
          = link_to 'Events', events_path
          a[href="#"]
            | About Me
        #navigation.navigation
          = link_to 'Home', root_path
          = link_to 'Blog', articles_path
          = link_to 'Topics', topics_path
          = link_to 'Events', events_path
          a[href="#"]
            | About Me
        #avatar.avatar
          - if user_signed_in?
            = image_tag "ace_welcome.jpg", :class => 'avatar-picture'
            p
            = link_to((image_tag "signout.png", :class => 'avatar-logout'), destroy_user_session_path, :method => :delete)
          - else
            = link_to (image_tag "login.png", :class => 'avatar-login'), new_user_session_path
        = yield
        #footer.footer
          span
            | Learning_app by 
            span#name
              | Julien Pierlot
